.registerButton {
    width: 570px;
    height: 45px;
    background-color: #FBB017;
}

@media (min-width: 425px) and (max-width: 992px) {
    .label {
        width: 360px;
        height: 45px;
    }

    .registerButton {
        width: 360px;
        height: 45px;
    }
}