.navButton1 {
    border: 1px solid #5E50A1;
    color: #5E50A1;
    /* margin-left: 1050px; */
}

.navButton2 {
    background-color: #5E50A1;
    color: #fff;
    /* margin-right: 30px; */
}

.navbar {
    margin-left: 7rem;
    margin-right: 7rem;
}

@media (min-width: 425px) and (max-width: 992px) {
    .navbar {
        margin-left: 1rem;
        margin-right: 1.7rem;
    }
}