.pagination-btn-active {
    background-color: #5E50A1;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pagination-btn-inactive {
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}